@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: light;
}

body {
    background-image: 
        url("../assets/images/overlay_top.svg"), 
        url("../assets/images/overlay_bottom_desktop.svg"),  
        url("../assets/images/pattern-lines.svg"),
        url("../assets/images/pattern-circle.svg"),
        url("../assets/images/background-desktop.png");

    background-position: top right, bottom left, top, center right, center;  
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;  
    min-height: 97vh;
    font-family: 'Inconsolata', monospace;
}

@media screen and (max-width: 1024px){
    body{
        background-image: 
            url("../assets/images/overlay_top.svg"), 
            url("../assets/images/overlay_bottom_tablet_mobile.svg"), 
            url("../assets/images/pattern-lines.svg"),
            url("../assets/images/background-tablet.png");

        background-position: top right, bottom left, top, center;  
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        min-height: 98.3vh; 
        
        font-family: 'Inconsolata', monospace;
    }
}

@media screen and (max-width: 768px){
    body{
        background-image: 
            url("../assets/images/overlay_top.svg"),
            url("../assets/images/overlay_bottom_tablet_mobile.svg"), 
            url("../assets/images/pattern-lines.svg"),
            url("../assets/images/background-mobile.png");

        background-position: top right, bottom left, top, center;  
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;  

        font-family: 'Inconsolata', monospace;
    }
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.header img {
    height: 40px;
}

.greatins_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title_section h1{
    font-size: 2.5rem;
    margin: 0;
    color: #fff;
}

.title_section span{
    background-image: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.greatins_section p{
    color: #fff;
}

.greatins_section p span{
    background-image: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.ticket_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 5rem;
}

.ticket_info{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12rem;
}

.ticket_info .ticket_id{
    transform: rotate(90deg);
    color: #aaa;
    font-size: 24px;
}

.ticket_main_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 5rem;
}

.ticket_user_info{
    display: flex;
}

.ticket_user_info img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 1rem;
}

.ticket_user_info .user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    color: #fff;
}

.location{
    color: #aaa;
}

@media screen and (max-width: 768px) {
    .ticket_section {
        margin-top: 2rem;
        width: 100%;
    }

    .ticket {
        width: 90%;
    }

    .ticket img {
        max-width: 90%;
        height: auto;
    }

    .ticket_info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 100%;
    }

    .ticket_main_info {
        gap: 10px;
    }

    .ticket_logo {
        width: 60px; 
    }

    .location {
        font-size: 12px; 
    }

    .ticket_user_info {
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
    }

    .ticket_user_info img {
        width: 35px; 
        height: 35px;
    }

    .user_name span {
        font-size: 14px; 
    }

    .user_github span {
        font-size: 12px; 
    }

    .ticket_id p {
        font-size: 16px; 
    }
}


/* @media screen and (max-width: 480px) {
    .ticket_section {
        margin-top: 1rem;
    }

    .ticket img {
        width: 100%; 
    }

    .ticket_user_info img {
        width: 40px; 
        height: 40px;
    }

    .ticket_id {
        font-size: 16px; 
    }
} */